services:
  backend:
    build: ./backend
    container_name: chat-backend
    env_file:
      - ./backend/.env
    ports:
      - "5001:5001"
    depends_on:
      - mongo
      - redis
  frontend:
    build: ./frontend
    container_name: chat-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
  redis:
    image: redis:8.0
    container_name: redis
    ports:
      - "6379:6379"
  mongo:
    image: mongo:7.0
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: